
<section class="bg-color" id="Mobile">
  <div class="containers">
      <div class="title">
          <p>The Best Seller Of Hitheme</p>
          <h2><span>Best</span> Seller</h2>
      </div>
  
      <div class="row">
        <h2 style="font-size: 30px;">Best Seller Of <strong style="color: #fa0;">Mobiles</strong> </h2>
        <app-mobile-slider [getAllMobiles]="mobilesProducts"> </app-mobile-slider >
          
      </div>
    </div>
  </section>



  <section class="bg-color" id="Mobile">
    <div class="containers">        
        <div class="row">
          <h2 style="font-size: 30px;">Best Seller Of <strong style="color: #fa0;">Computeres</strong> </h2>
          <app-computer-slider [getAllComputers]="ComputerProducts"> </app-computer-slider>
        </div>
      </div>
    </section>


    <section class="bg-color" id="Mobile">
      <div class="containers">
          <div class="row">
            <h2 style="font-size: 30px;">Best Seller Of <strong style="color: #fa0;">Clothes</strong> </h2>

            <app-clothe-slider [getAllClothes]="ClothsProducts"> </app-clothe-slider >
          </div>
        </div>
      </section>


      <section class="bg-color" id="Mobile">
        <div class="containers">
            <div class="row ">
              <h2 style="font-size: 30px;">Best Seller Of <strong style="color: #fa0;">TV</strong> </h2>
              <app-tv-slider [getAllTvs]="TvProducts"> </app-tv-slider>
            </div>
          </div>
        </section>


        <section class="bg-color" id="Mobile">
          <div class="containers">
              <div class="row">
                <h2 style="font-size: 30px;">Best Seller Of <strong style="color: #fa0;">Books</strong> </h2>

                <app-book-slider [getAllBooks]="BooksProducts"> </app-book-slider>
              </div>
            </div>
          </section>
<!-- Cersoul End -->

  
  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="../../../assets/lib/easing/"></script>
  <script src="../../../assets/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../../../assets/lib/owlcarousel/owl.carousel.js"></script>
  
  <!-- Contact Javascript File -->
  <script src="mail/jqBootstrapValidation.min.js"></script>
  <script src="mail/contact.js"></script>
  
  <!-- Template Javascript -->
  
  <script src="../../../assets/js/main.js"></script>
  