<div class="container-fluid">
    <div class="row">
  
      <section class="bg-color">
        <div class="containers">
          <div class="title">
            <p>The Best Seller Of Hitheme</p>
            <h2><span>Best</span> Seller</h2>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="card">
                <div class="container p-5">
                  <h3 style="font-weight: bolder; font-size: 25px;">Filter</h3>
                  <ul id="product-list">
                    <!-- product list items here -->
                  </ul>
  
                  <hr>
                  <div>
                    <h3 style="font-weight: bold; font-size: 20px;">Type </h3>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxTypeChange('Fiction',$event)" class="form-check-input"
                        id="shoes-filter" value="Apple">
                      <label class="form-check-label" for="shoes-filter">Fiction
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxTypeChange('Mystery',$event)" class="form-check-input"
                        id="clothing-filter" value="Samsung">
                      <label class="form-check-label" for="shoes-filter">Mystery
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxTypeChange('Romance',$event)" class="form-check-input"
                        id="accessories-filter" value="Oppo">
                      <label class="form-check-label" for="shoes-filter">Romance
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxTypeChange('Science',$event)" class="form-check-input" id="Front_Camera" value="Nokia">
                      <label class="form-check-label" for="shoes-filter">Science
                      </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" (change)="onCheckboxTypeChange('Self-help',$event)" class="form-check-input" id="Front_Camera" value="Nokia">
                        <label class="form-check-label" for="shoes-filter">Self-help
                        </label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" (change)="onCheckboxTypeChange('Travel',$event)" class="form-check-input" id="Front_Camera" value="Nokia">
                        <label class="form-check-label" for="shoes-filter">Travel
                        </label>
                      </div>
                  </div>
  
  
                  <hr>
                  <!-- Author Name -->
                  <div>
                    <h3 style="font-weight: bold; font-size: 20px;">Author Name </h3>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxTypeChange('Fiction',$event)" class="form-check-input"
                        id="shoes-filter" value="Apple">
                      <label class="form-check-label" for="shoes-filter">Fiction
                      </label>
                    </div>
                    
                    <div class="form-check">
                      <input  type="checkbox" (change)="onCheckboxAuthorNameChange('William Shakespeare',$event)" class="form-check-input" id="Front_Camera" value="Nokia">
                      <label class="form-check-label" for="shoes-filter" style="font-size: 18px;">William Shakespeare
                      </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" (change)="onCheckboxAuthorNameChange('Jane Austen',$event)" class="form-check-input" id="Front_Camera" value="Nokia">
                        <label class="form-check-label" for="shoes-filter">Jane Austen
                        </label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" (change)="onCheckboxAuthorNameChange('Nagiub Mahfouz',$event)" class="form-check-input" id="Front_Camera" value="Nokia">
                        <label class="form-check-label" for="shoes-filter">Nagiub Mahfouz
                        </label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" (change)="onCheckboxAuthorNameChange('Khalil Gibran',$event)" class="form-check-input" id="Front_Camera" value="Nokia">
                        <label class="form-check-label" for="shoes-filter">Khalil Gibran
                        </label>
                      </div>
                  </div>

                  <hr>
                  <!--Publisher-->
                  <div>
                    <h3 style="font-weight: bold; font-size: 20px;">Publisher </h3>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxPublisherChange('Penguin Random House',$event)" class="form-check-input"
                        id="shoes-filter" value="Apple">
                      <label class="form-check-label" for="shoes-filter">Penguin Random House   
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxPublisherChange('HarperCollins',$event)" class="form-check-input"
                        id="clothing-filter" value="Samsung">
                      <label class="form-check-label" for="shoes-filter">HarperCollins
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxPublisherChange('Simon&Schuster',$event)" class="form-check-input"
                        id="accessories-filter" value="Oppo">
                      <label class="form-check-label" for="shoes-filter">Simon&Schuster
                      </label>
                    </div>
                    
                     
                  </div>
  
                  <hr>
                   
                  <!--Language-->
                  <div>
                    <h3 style="font-weight: bold; font-size: 20px;">Language </h3>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxLanguageChange('English',$event)" class="form-check-input"
                        id="shoes-filter" value="Apple">
                      <label class="form-check-label" for="shoes-filter">English  
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxLanguageChange('Arabic',$event)" class="form-check-input"
                        id="clothing-filter" value="Samsung">
                      <label class="form-check-label" for="shoes-filter">Arabic
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxLanguageChange('French',$event)" class="form-check-input"
                        id="accessories-filter" value="Oppo">
                      <label class="form-check-label" for="shoes-filter">French
                      </label>
                    </div>
                    
                  </div>
                  <hr>

                  <!--Page Number-->
                  <div>
                    <h3 style="font-weight: bold; font-size: 20px;">Page Number</h3>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxPageChange(0,$event)" class="form-check-input"
                        id="shoes-filter" value="7000">
                      <label class="form-check-label" for="shoes-filter">100-200</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxPageChange(1,$event)" class="form-check-input"
                        id="clothing-filter" value="clothing">
                      <label class="form-check-label" for="clothing-filter">200-350</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxPageChange(2,$event)" class="form-check-input"
                        id="accessories-filter" value="accessories">
                      <label class="form-check-label" for="accessories-filter">Above 350</label>
                    </div>
                  </div>

                  <hr>
                  <!-- PriceFilteration -->
                  <div>
                    <h3 style="font-weight: bold; font-size: 20px;">Price</h3>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxPriceChange(0,$event)" class="form-check-input"
                        id="shoes-filter" value="7000">
                      <label class="form-check-label" for="shoes-filter">100-250</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxPriceChange(1,$event)" class="form-check-input"
                        id="clothing-filter" value="clothing">
                      <label class="form-check-label" for="clothing-filter">250-400</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)="onCheckboxPriceChange(2,$event)" class="form-check-input"
                        id="accessories-filter" value="accessories">
                      <label class="form-check-label" for="accessories-filter">Above 400</label>
                    </div>
                  </div>
                  <hr>
  
  
                 <!--  RateFilteration -->
                  <div>
  
                    <h3 style="font-weight: bold; font-size: 20px;">Rate</h3>
                    <div class="form-check">
                      <input type="checkbox" (change)=" onCheckboxRateChange(1,$event)" class="form-check-input"
                        id="shoes-filter" value="1">
                      <label class="form-check-label" for="shoes-filter">
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i></label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)=" onCheckboxRateChange(2,$event)" class="form-check-input"
                        id="clothing-filter" value="2">
                      <label class="form-check-label" for="clothing-filter">
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)=" onCheckboxRateChange(3,$event)" class="form-check-input"
                        id="accessories-filter" value="3">
                      <label class="form-check-label" for="accessories-filter">
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
  
                      </label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)=" onCheckboxRateChange(4,$event)" class="form-check-input"
                        id="accessories-filter" value="4">
                      <label class="form-check-label" for="accessories-filter">
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
                      </label>
                    </div>
  
                    <div class="form-check">
                      <input type="checkbox" (change)=" onCheckboxRateChange(5,$event)" class="form-check-input"
                        id="accessories-filter" value="5">
                      <label class="form-check-label" for="accessories-filter">
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
                        <i class="far fa-star filled" style="color: yellow; " data-rating="1"></i>
  
                      </label>
                    </div>
  
                  </div>
  
                  <hr>
  
              
               <!-- DiscountFilteration -->
                  <div>
                    <h3 style="font-weight: bold; font-size: 20px;">Discount</h3>
                    <div class="form-check">
                      <input type="checkbox" (change)=" onCheckboxDiscountChange(10,$event)" class="form-check-input"
                        id="shoes-filter" value="10">
                      <label class="form-check-label" for="shoes-filter">10%</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" (change)=" onCheckboxDiscountChange(15,$event)" class="form-check-input"
                        id="clothing-filter" value="15">
                      <label class="form-check-label" for="clothing-filter">15%</label>
                    </div>
  
                    <div class="form-check">
                      <input type="checkbox" (change)=" onCheckboxDiscountChange(20,$event)" class="form-check-input"
                        id="clothing-filter" value="20">
                      <label class="form-check-label" for="clothing-filter">20%</label>
                    </div>
                  </div>
                
  
                  
                  
  
                </div>
              </div>
            </div>
  
  
            <div class="col-8">
  
  
              <section class="bg-color" id="Mobile">
                <div class="containers">
  
                  <div class="row">
                    <div class="col-md-4" *ngFor="let book of filteredBooksList">
                      <div class="card">
                        <a [routerLink]="['/product-details/Mobile',book.mainProductId]">
                          <div class="card-main">
                            <!-- <div class="discount">%</div> -->
                            <div class="label label-green">Pre-order</div>
                            <div class="product-container">
                              <div class="p" (mouseover)="imageChange($event)"><img src="assets/img/1.jpg" alt="Product">
                              </div>
                              <div class="p" (mouseover)="imageChange($event)"><img src="assets/img/1.jpg" alt="Product">
                              </div>
                              <div class="p" (mouseover)="imageChange($event)"><img src="assets/img/1.jpg" alt="Product">
                              </div>
                            </div>
                            <div class="image">
                              <img src="assets/img/1.jpg" alt="Product"
                                class="card-img-top shadow p-3 mb-5 bg-white rounded">
                            </div>
  
                            <div class="">
                              <h3 class="text-center ">
  
                              </h3>
                            </div>
                            <div class="cart-line"></div>
                            <div class="cart-item">
                              <ul>
  
                                <li><a href=""><i class="fa fa-shopping-basket"></i></a></li>
                                <li><a href=""><i class="fa fa-heart"></i></a></li>
                                <li><a href=""><i class="fa fa-search"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </a>
                        <div class="content">
                          <a href="javascript:void(0);">Incidid Tongue Bar</a>
                          <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                          </div>
                          <div>
                            <p><span class="money">{{book.mainProduct.name}}</span><span class="price-old"></span></p>
                          </div>
                          <div *ngIf="book.mainProduct.priceAfterDiscount==null">
                            <p><span class="money"></span></p>
                          </div>
                        </div>
                      </div>
                    </div>
  
                  </div>
                </div>
              </section>
  
  
            </div>
          </div>
        </div>
      </section>
  

  
    </div>
  </div>
  
  
  
