<div class=" d-flex justify-content-center align-items-center" style="    margin: 20px;">
    <div>
        <div class="mb-4 text-center">
            <img src="/assets/img/complete.png" width="300px" height="300px" >
        </div>
        <div class="text-center">
            <h1>Thank you for your order! </h1>
            <p>Your order will be delivered in 2-3 working days! </p>
               <p> Don't hesitate to contact us at support@mycompany(dot)com</p>
               <a href="#" routerLink="">Back TO Home</a>
        </div>
    </div>